/* Media Query */

@media screen and (max-width: 600px) {
    .details {
            width: 80%;
            position: relative;
    }

    .details ul.contact-list .list-item {
        font-size: 7px;
        color: yellow;
        position: relative;
        z-index: 1000;
        left: -15px;
    }
    .carve-span {
        display: block;
        width: 60px;
    }
    .details ul.contact-list .list-item {
        padding: 0 5px;
    }
}

@media screen and (max-width: 411px) {
    .details {
        width: 78%;
        position: relative;
    }
        .details ul.contact-list .list-item {
            font-size: 6px;
            position: relative;
            left: -10px;    
        }
        .details ul.contact-list .list-item {
            padding: 0 5px;
        }
}

@media screen and (max-width: 768px) {

}

/* menu bar */

@media screen and (max-width: 990px) {
    .navigation-menu .menu-item {
        display: none;
    }
    .menuBar001 {
        display: block;
        width: 100px;
        height: auto;
        background-color: transparent;
        color: black;
        font-size: 30px;
    }
}